# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.so

.python-version

.venv/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.coverage
htmlcov/

dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# =========================================================
# EXPO / REACT NATIVE
# =========================================================

node_modules/

.expo/
.expo-shared/

.eas/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.local

# Metro / bundler
.metro-health-check*

# TypeScript
*.tsbuildinfo

# =========================================================
# ANDROID
# =========================================================

android/.gradle/
android/build/
android/app/build/

android/local.properties

*.keystore
*.jks

# =========================================================
# IOS
# =========================================================

ios/build/
Pods/

# =========================================================
# EDITORS / OS
# =========================================================

.vscode/
.idea/

.DS_Store
Thumbs.db

# =========================================================
# TEMP
# =========================================================

*.tmp
*.temp